.routeIcon {
  margin-right: 40px;
}
.cart-price{
  margin-left: 17px;
    margin-top: -55px;
    color: black;
}
.cart-quantity{
  margin-left: -12px;
  margin-top: -32px;
  color: red;
}
.cart{


}
