.tableclass{
  width: 100%;
  margin-top: 10px;
}

table .tabletr{
  border: 1px solid green;
  background-color: gray;
  height: 38px;
  color: white;
}

.img-responsive{
  width: 150px;
  height: 120px;
}
.size{
  width: 100%;
}

table .tabletr1{
border: 1px solid green;
}

.alert{
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: khaki;
  color: white;
  margin-top: 10px;
  align-self: center;
}
