/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.userlist-col {
  padding: 1.5em 2em;
}



.userList-title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #3d424e;
  padding-right: 1em;
}

.add-user {
  background: #1db382;
  border-radius: 7px 7px 7px 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 13.568px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0848px;
  color: #f9f9fa;
  padding: 0.5em 1em;
}

// <<--------------------------------------------home page classes------------------------------------------------>>
$sidenav-background: #3d424e;
$toolbar-background: #6cb33f;
$white-color: #ffffff;
$font-family: "Poppins", sans-serif;
.side-nav {
  background-color: $sidenav-background;
  color: $white-color;
}



.expand-nav {
  width: 17%;
  transition: width 150ms ease-out, height 0ms linear;
}
.compress-nav {
  width: 5%;
  transition: width 150ms ease-out, height 0ms linear;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(-180deg);
  -webkit-transition: all linear 150ms;
  transition: all linear 150ms;
  cursor: pointer;
}

.pointer {
  cursor: pointer !important;
}

.active-side-navlist {
  background: #30343e;
  border-left: 2px solid $toolbar-background;
}

.side-nav-label-name {
  padding-left: 5px;
}


.dash-icons {
  height: 1.2em;
  width: 1.2em;
}

.expand-toolbar {
  width: 83% !important;
  transition: width 150ms ease-out, height 0ms linear;
}
.compress-toolbar {
  width: 95% !important;
  transition: width 150ms ease-out, height 0ms linear;
}

.toolbar {
  background-color: $toolbar-background;
  color: $white-color;
}

.color_90A0 {
  color: #8b90a0;
}
.font-9 {
  font-size: 9px;
}
.margin0 {
  margin: 0px;
}

.width100 {
  width: 100% !important;
}
.font-14 {
  font-size: 14px;
}
.toolbar-name {
  font-size: 0.7em;
  padding: 0.5em 1em;
  background: #467a25;
  border-radius: 25px;
}
.styled-select {
  padding: 9px 0px 12px 30px;
  width: 100%;
  color: #fff;
  background: #6cb33f;
  outline: none;
}

.logout-pointer {
  cursor: pointer;
}


.router-outlet-scroll {
  overflow-y: scroll !important;
}

.activeSideNavlist {
  background: #30343e;
  border-left: 2px solid $toolbar-background;
}


// <-------------------------------------------user add property------------------------------->

.main-col-p{
  padding: 1.5em 16px;
}

.cancel-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #52575c;
  border: 1px solid #3c8e18;
  border-radius: 2px;
  padding: 1em 2.5em;
}



.add-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #f9f9fa;
  background: #5ea73e;
  border-radius: 2px;
  padding: 1em 2em;
}

.userLength-sub {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 35px;
  color: #52575c;
  mix-blend-mode: normal;
}


.userLength {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: #52575c;
  mix-blend-mode: normal;
  padding-right: 0.4em;
}

.userlist-col {
  padding: 1.5em 2em;
}

.table-r-name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #5ea73e;
  mix-blend-mode: normal;
}

.table-r-email {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
  mix-blend-mode: normal;
}

.table-r-dis {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  mix-blend-mode: normal;
}

.active {
  background: #cbf5cf;
  border-radius: 43px;
  padding: 0.5em 1em;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #00b30f;
}

.in-active {
  border-radius: 43px;
  padding: 0.5em 1em;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #d55151;
  background: #ffc0c0;
}


.th-color {
  background: #f6f9fc;
  border: 1px solid #e9ecef;
  box-sizing: border-box;
}
.table-text {
  .mat-header-cell {
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    color: #8898aa !important;
  }
}
.table-cell-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  mix-blend-mode: normal;
}
.table-cell-col-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #5ea73e;
  mix-blend-mode: normal;
}

.main-card {
  background: #ffffff;
  box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  padding: 2em 1em 2em 3em;
}

.card-header {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #3e3e3e;
//   padding-bottom: 2em;
}

.fetch {
  height: 45px;
  width: 80px;
  margin-top: 4px;
  margin-left: 5px;
  background: #5ea73e;
  border: 1px solid #5ea73e;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

// .mat-form-field-wrapper {
//  padding-bottom: 0em;
// }

//toggle button css
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5ea73e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5ea73e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toogleText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #505565;
  padding-left: 1em;
}

.active {
  background: #cbf5cf;
  border-radius: 43px;
  padding: 0.5em 1em;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #00b30f;
}

.in-active {
  border-radius: 43px;
  padding: 0.5em 1em;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #d55151;
  background: #ffc0c0;
}

.refresh-user{
  background: #054d69;
  border-radius: 7px 7px 7px 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 13.568px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0848px;
  color: #f9f9fa;
  padding: 0.5em 1em;

}

.width100{
  width: 100%;
}
.formfileld.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0em 0em 0em 1em !important;

}

.formfileld .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0;
}


.colmn .mat-form-field-appearance-outline .mat-form-field-infix {
   padding: 0.5em 0 0.5em 0 !important;
}

.colmn input.mat-input-element {
  margin-top: 0.5em;
}


// .mat-form-field-flex>.mat-form-field-infix {
//   padding: 0.4em 0!important;
// }
.success_btn {
  background-color: #6cb33f;
  color: white;
  border-radius: 2px !important;
  font-weight: 600;
  font-size: 14px;
}

.router-outlet-scroll {
  overflow-y: scroll !important;
}

.custom .mat-dialog-container {

  overflow: hidden;
  border-width: 0px;
  border-style: solid !important;
   padding: 0px !important;
  border-radius: 0px !important;
  background-color: rgb(255, 255, 255);
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  position: relative !important;
}

.mat-dialog-content {
  max-height: 100% !important;
}

.close1 .material-icons{
  font-size: 30px !important;
}

.backdropBackground {
  background-color: rgb(55, 58, 71) !important;
  opacity: 0.9 !important;
}

.form .mat-form-field-wrapper {
  padding-bottom: 0.1em;
}


.form  mat-form-field-appearance-outline .mat-form-field-wrapper {
   margin: 0.05em 0 !important
}

.mat .mat-raised-button{
  padding: 0 7px !important;

 }

 .colmn .mat-form-field-infix {
  padding: 0.5em 0;
   border-top: 0em solid transparent !important;
}






